# Analysis of  Trends in the Film Industry


## 1. Business Understanding 

### (a) Introduction

The film industry also known as the motion picture industry,comprises of both the technological and the commercial institutions of filmmaking.This includes film production companies,film studios,cinematography,animation,film production,screenwriting,pre-production,post-production,actors etc.

The motion picture industry which originally began in the late 19th century,has quickly become one of the largest growing industries in the world.In 2019,the global box office was worth $42.2 billion and when including box office and home entertainment revenue the global film industry was worth $136 billion in 2018.

With the presence of vast amounts data in the film industry today,exploratory data analysis is crucial in making insightful decisions on the type of field to venture in.This project aims to provide insights for the Microsoft Corporation as they plan to create a new movie studio.By analyzing data and current trends in the film industry, we can provide valuable information to help guide their decision making process.Our goal is to help the head of the Microsoft's new movie studio to make informed decisions on what type of films to make.

This project will invole analyzing data from various sources,including research on successful movie studios and their strategies on creating successful films.Based on the analysis we will be able to provide recommendations to the Microsoft Cooporation on what types of films to produce inorder to have the best shot at success.

### (b) Problem Statement

Microsoft Cooporation is planning to create a new movie studio and want to determine which films to produce inorder to maximize their chance for success.To do this,an exploratory data analysis needs to be carried out to identify various trends and patterns in the current movie industry.The goal of this project is to use some data analysis techniques inorder to come up with insights and recommendations on what type of films the Cooporation should make.This will involve analysis on the box office peformance, genre trends and how different films have been received by the audience.This analysis will help the head of Microsoft's new movie studio make informed decisions on their film production strategy.

### (c) Defining the metric of success

This project will considered a success if:

-   It can yield atleast three actionable recommendations towards increasing box office revenue by 30%

### (d) Main Objective

To come up with insights and atleast three recommendations to help the head of Microsoft's new movie studio make data-driven decisions on what type of films to make.

### (e) Specific Objectives

-   Conduct exploratory data analysis to identify the trends and patterns for the different movie genres 
    and visualize the data using bar graphs and scatter plots.
-   Analyze the data to identify key drivers of film success by investigating how different variables in 
    the dataset influece the success of a film.
-   Generate insights and recommendations based on the analysis of the data

### (f) Recording the Experimental design

-   ***Reading and checking the data*** - This stage involves reviewing the data layout and checking for any missing values in the data.
-   ***Cleaning the data*** - This stage involves removing duplicated records,handling missing data,correcting inconsistencies in data and removing outliers and irrelevant data.
-   ***Exploratory data analysis*** - This stage involves visualizing data by using graphs,calculating summary statistics,identifying correlations and examining data distribution.
-   ***Conclusions and recommendation*** - This stage involves using the analysis of the data to generate insights and recommendation for Microsoft's new film studio concerning what films to make.

### (g) Data Relevance

The data sources fro this analysis will be pulled from three separate files

#### title.rating.csv

This dataset is a CSV file that contains  rows and 3 columns.Each row represents a movie with its average ratings and number of number of votes.
This dataset will help compare average ratings and number of votes of each movie genre in order to determine which genres have the highest number of votes and highest ratings.

#### title.basics.csv

This dataset is a CSV file containing  rows and 6 columns.Each row represents a particular movie, its primary and original title,start year,run time in minutes and its genre.
This dataset will help us investigate whether there is a particular correlation between the genre of movies that have been successful and their run time in minutes.

#### tn.movie_budgets.csv

This dataset is a CSV file containing  rows and 6 columns.Each row represents a movie,its release date,its production budget,its domestic and worldwide gross.
This dataset will help in comparing the budget of the movies that have been successful and see whether the budget of the movie has any relationship with its financial success.

## 2. Reading Data

In [9]:
#importing the necessary libraries

import seaborn as sns 
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [13]:
#loading the title basics csv into a dataframe

title_basics = pd.read_csv("Datasets/title.basics.csv")

In [14]:
#loading the title ratings csv into a dataframe

title_ratings = pd.read_csv("Datasets/title.ratings.csv")

In [15]:
#loading the movies budgets csv into a dataframe

movie_budgets = pd.read_csv("Datasets/tn.movie_budgets.csv")

In [ ]:
## 3. Checking the data

In [16]:
#checking the first 5 rows of the title basics dataframe

title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [17]:
#checking the last 5 rows of the title basics dataframe

title_basics.tail()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [19]:
#printing the general information ot the title basics dataframe

title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146143 non-null  object
 2   original_title   146122 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [20]:
#checking the first 5 rows of the title ratings dataframe

title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [21]:
#checking the last 5 rows of the title ratings dataframe

title_ratings.tail()

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

In [22]:
#printing the general information of the title ratings dataframe

title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [23]:
#checking the first 5 rows of the movie budgets dataframe

movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [24]:
#checking the last 5 rows of the movie budgets dataframe

movie_budgets.tail()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [25]:
#printing the general information of the movie budgets dataframe

movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB